<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Vela</vendor>
  <vendor_url>https://github.com/vela-science/vela</vendor_url>
  <action id="science.vela.signer.authenticate">
    <description>Authenticate to use the local Vela decision signer</description>
    <message>Authenticate to use the local Vela decision signer</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
